.drop-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;

  padding: 1rem;
  opacity: 0.66;
  color: white;
  font-weight: bold;
  font-size: 1.13rem;
  transition-duration: 130ms;

  height: 60vh;
  width: 20vw;
  position: fixed;
  top: 20vh;
}

.drop-zone.left {
  border-top-right-radius: 10vw;
  border-bottom-right-radius: 10vw;
  left: 0;
  transform: translateX(-101%);
}

.drop-zone.right {
  border-top-left-radius: 10vw;
  border-bottom-left-radius: 10vw;
  left: 100vw;
  transform: translateX(0%);
}

.drop-zone.active {
  transform: translateX(0);
}

.drop-zone.right.active {
  transform: translateX(-100%);
}

@media screen and (max-width: 650px) {
  .action-buttons {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 0;
  }
}

@media screen and (min-height: 700px) {
  .action-buttons {
    top: 600px;
  }
}

@keyframes red-flash {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(250, 82, 82, 1);
  }

  50% {
    box-shadow: 0px 0px 12vw 10px rgba(250, 82, 82, 1);
  }

  100% {
    box-shadow: 0px 0px 24vw 15px rgba(250, 82, 82, 0);
  }
}

@keyframes green-flash {
  0% {
    box-shadow: 0px 0px 0px 0px rgb(39, 150, 58, 1);
  }

  50% {
    box-shadow: 0px 0px 12vw 10px rgba(39, 150, 58, 1);
  }

  100% {
    box-shadow: 0px 0px 24vw 15px rgba(39, 150, 58, 0);
  }
}

#disagree-button[data-flash="flash"] {
  animation-name: red-flash;
  animation-duration: 200ms;
  animation-timing-function: linear;
}

#agree-button[data-flash="flash"] {
  animation-name: green-flash;
  animation-duration: 200ms;
  animation-timing-function: linear;
}
